@import url("main.css");
@import url("https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700");
@import url("https://fonts.googleapis.com/css?family=Josefin+Slab:400,700");
.name-part {
  color: #0194fe; }

#about {
  background-color: #ebf6ff;
  padding: 0 60px 60px; }
  #about h1 {
    display: none; }

.page {
  min-height: 100%;
  width: 100%; }

#introduction {
  background-color: white;
  color: #011149;
  padding: 50px 0 20px;
  font: 20px "Libre Baskerville", serif;
  text-align: center; }

.app-url {
  font: 70px "Josefin Slab", serif;
  font-weight: bold;
  margin-top: 30px; }

.app-summary {
  font-family: "Libre Baskerville", serif;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 40px; }

.app-name-meaning {
  font: 30px/1.2 "Libre Baskerville", serif; }

#email-contact {
  font-style: italic; }
