@import url("reset.css");
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html, body {
  height: 100%;
  min-height: 100%; }

body {
  margin: 0px; }

a {
  color: #0194fe;
  text-decoration: none; }
  a:hover {
    color: white;
    background-color: #011149; }
