@import url('main.css');

@import 'fonts';
@import 'colors';

.name-part {
  color: $light-color;
}

#about {
  background-color: $bg-darker-color;
  padding: 0 60px 60px;

  h1 {
    display: none;
  }

}

.page {
  min-height:100%;
  width:100%;
}

#introduction {
  background-color: $bg-color;
  color: $dark-color;
  padding: 50px 0 20px;
  font: 20px $main-font;
  text-align: center;
}

.app-url {
  font: 70px $font-2;
  font-weight: bold;
  margin-top: 30px;
}

.app-summary {
  font-family: $main-font;
  font-style: italic;
  margin-top: 20px;
  margin-bottom: 40px;
}

.app-name-meaning {
  font: 30px/1.2 $main-font;
}

#email-contact {
  font-style: italic;
}
