@import url('reset.css');

@import 'colors';
@import 'fonts';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
}

a {
  color: $light-color;
  text-decoration: none;

  &:hover {
    color: $bg-color;
    background-color: $dark-color;
  }
}

.button-container {
  text-align: center;

  .button {
    font: 25px $font-2;
    text-decoration: none;
    padding: 7px 10px;
    margin: 5px;
    transition: all 200ms ease;
    display: inline-block;

    color: $light-color;
    border: 2px solid $dark-color;

    &:hover {
      color: $bg-color;
      background-color: $dark-color;
    }

    &[disabled] {
      color: gray;
      background-color: $bg-color;
    }
  }

}

.info-section {
  color: $dark-color;
  font: 1.2em/1.5 $main-font;


  h1 {
    font: 60px $font-2;
    font-weight: bold;
    padding: 20px 0 10px;
    color: $light-color;
  }

  h2 {
    font: 50px $font-2;
    font-weight: bold;
    padding: 20px 0 10px;
    color: $light-color;
  }

  ul {
    padding: 1em 20px;
    list-style: disc;
  }

  p {
    padding: 0.5em 0;
  }
}
