@import url('reset.css');

@import 'colors';

* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

html, body {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0px;
}

a {
  color: $light-color;
  text-decoration: none;

  &:hover {
    color: $bg-color;
    background-color: $dark-color;
  }
}
